<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cliven的直播助手</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Import Vue 3 -->
    <script src="./vue.global.js"></script>
    <link rel="stylesheet" href="./index.css"/>
    <script src="./vant.min.js"></script>

    <!--    <link-->
    <!--            rel="stylesheet"-->
    <!--            href="https://fastly.jsdelivr.net/npm/vant@4/lib/index.css"-->
    <!--    />-->
    <!--    <script src="https://fastly.jsdelivr.net/npm/vue@3"></script>-->
    <!--    <script src="https://fastly.jsdelivr.net/npm/vant@4/lib/vant.min.js"></script>-->
    <script src="./axios.min.js"></script>
    <script src="./NoSleep.min.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            height: 100vh;
            display: flex;
            /*!*登录框水平垂直居中*!*/
            justify-content: center;
            align-items: center;
            background-color: #f8f8f8;
            -webkit-font-smoothing: antialiased;
            /*overflow-y: hidden;*/
        }

        #app {
            width: 100%;
            margin: 30px;
        }

        .switch-button {
            width: 100%;
            height: 70px;
            font-size: 1.5rem;
        }

        .always-light {
            padding: 3rem;
            font-size: 1.8rem;
            border-radius: 3px;
            color: #70b6fc;
            border: 1px solid #70b6fc;
            outline: none;
            background-color: #FFFFFF;
        }

        .always-light:hover {
            background-color: #70b6fc;
            color: #FFFFFF;
        }

        .stream-duration {
            width: 100%;
            text-align: center;
            font-size: 1.6rem;
            border-radius: 3px;
            border: 1px solid #000;
            box-sizing: border-box;
            font-family: Monospaced;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 15px;
        }


        .dm-container {
            margin-top: 10px;
            background-color: #F0F2F5;
            height: 240px;
            padding: 5px 10px;
            overflow: scroll;
            border-radius: 3px;
        }


        .dm-comment {
            padding: 5px;
            position: relative;
            background: #CDD0D6;
            border-radius: 5px;
        }

        .dm-like {
            padding: 5px;
            position: relative;
            border-radius: 5px;
        }

        .dm-gift {
            padding: 5px;
            position: relative;
            border-radius: 5px;
        }

        .dm-super-chat {
            padding: 5px;
            position: relative;
            background: #a0cfff;
            border-radius: 5px;
            display: flex;
        }

        :root {
            --van-popup-background: transparent;
        }

        .dm-reconnect {
            text-align: center;
            margin-top: 10px;
            cursor: pointer;
            user-select: none;
            color: #1989fa;
        }

        .dm-reconnect:hover {
            color: #409eff;
        }
    </style>
</head>
<body>
<div id="app">
    <div v-show="!alwaysLight" style="text-align: center">
        <input type="button" ref="alwaysLightRef" value="开启屏幕常亮" class="always-light">
    </div>
    <div v-show="alwaysLight">
        <div v-if="state.streamSwitch == false">
            <van-button
                    :loading="loadingSwitchStream"
                    loading-text="直播开启..."
                    type="primary" class="switch-button" icon="play"
                    @touchstart="handleStreamTouchStart"
                    @touchend="handleStreamTouchEnd">
                开始直播
            </van-button>
        </div>
        <div v-else>
            <div style="display: flex;justify-content: space-between;font-size: 25px;font-family: Monospaced;">
                <div>当前时间</div>
                <div>{{now}}</div>
            </div>
            <div style="margin-top: 5px">
                <van-button
                        :loading="loadingSwitchStream"
                        loading-text="直播关闭..."
                        type="danger" class="switch-button" icon="stop"
                        @touchstart="handleStreamTouchStart"
                        @touchend="handleStreamTouchEnd">
                    关闭直播
                </van-button>
            </div>
            <div style="margin-top: 15px">
                <van-button
                        :loading="loadingSwitchRecord"
                        loading-text="录制停止..."
                        v-show="!state.recordSwitch" icon="play" type="primary"
                        class="switch-button"
                        @touchstart="handleRecordTouchStart"
                        @touchend="handleStreamTouchEnd">
                    开始录制
                </van-button>
                <van-button
                        :loading="loadingSwitchRecord"
                        loading-text="录制开启..."
                        v-show="state.recordSwitch" icon="pause" type="warning"
                        class="switch-button"
                        @touchstart="handleRecordTouchStart"
                        @touchend="handleRecordTouchEnd">
                    停止录制
                </van-button>
            </div>
            <div style="margin-top: 15px">
                <van-button
                        :loading="loadingSwitchMic"
                        v-show="state.micSwitch" plain type="primary" class="switch-button"
                        @click="handleSwitchMic">
                    <template #icon>
                        <img style="width: 2rem" src="./img/mic.png" alt="">
                    </template>
                    麦克 ON
                </van-button>
                <van-button
                        :loading="loadingSwitchMic"
                        v-show="!state.micSwitch" plain type="default" class="switch-button" icon="cross"
                        @click="handleSwitchMic">
                    <template #icon>
                        <img style="width: 2rem" src="./img/mic-off.png" alt="">
                    </template>
                    麦克 OFF
                </van-button>
            </div>
            <div style="margin-top: 15px">
                <van-button
                        loading-text="截图..."
                        :loading="loadingCapture"
                        plain type="primary" class="switch-button" icon="photograph"
                        @click="handleCapture">
                    截图
                </van-button>
            </div>
            <div style="margin-top: 15px;display: flex">
                <van-button icon="list-switch" style="flex: 1;" size="small" @click="handleTabSwitch">
                    切换窗口
                </van-button>
                <van-button icon="bars" style="flex: 1;margin-left: 5px" size="small" @click="handlePushWindowMenu">
                    Windows
                </van-button>
            </div>
            <div style="text-align: center">

                <div class="stream-duration">
                    <div style="font-size: 12px">开播时间</div>
                    <div>{{streamDuration}}</div>
                </div>
            </div>
            <div class="dm-container" @touchstart="handleDmScrollStart" @touchend="handleDmScrollEnd">
                <div style="display: flex;margin-top: 10px" v-for="msg in messages" :key="msg.data.msg_id">
                    <div v-if="msg.cmd === 'LIVE_OPEN_PLATFORM_GUARD'"><img
                            style="border-radius: 50%;"
                            width="30" height="30"
                            :src="'/icon?path=' + encodeURIComponent(msg.data.user_info.uface)"
                            alt=""></div>
                    <div v-else><img
                            style="border-radius: 50%;"
                            width="30" height="30"
                            :src="'/icon?path=' + encodeURIComponent(msg.data.uface)"
                            alt=""></div>

                    <div v-if="msg.cmd === 'LIVE_OPEN_PLATFORM_GUARD'" style="margin-left: 5px">
                        <div style="margin-bottom: 3px">{{ msg.data.user_info.uname }}</div>
                        <div v-if="msg.data.guard_level === 3" style="display: flex;align-items: center">
                            <img src="./img/ic-caption.png" alt="" width="30">
                            <div style="font-size: 15px; font-weight: 800;margin-left: 5px;color: red">开通舰长</div>
                        </div>
                        <div v-if="msg.data.guard_level === 2" style="display: flex;align-items: center">
                            <img src="./img/ic-prefect.png" alt="" width="30">
                            <div style="font-size: 15px; font-weight: 800;margin-left: 5px;color: red">开通提督</div>
                        </div>
                        <div v-if="msg.data.guard_level === 1" style="display: flex;align-items: center">
                            <img src="./img/ic-governor.png" alt="" width="30">
                            <div style="font-size: 15px; font-weight: 800;margin-left: 5px;color: red">开通总督</div>
                        </div>
                    </div>
                    <div v-else style="margin-left: 5px">
                        <div style="margin-bottom: 3px">{{ msg.data.uname }}</div>
                        <div v-if="msg.cmd == 'LIVE_OPEN_PLATFORM_DM'" class="dm-comment">
                            <div v-if="msg.data.dm_type === 0">
                                {{ msg.data.msg }}
                            </div>
                            <div v-if="msg.data.dm_type === 1">
                                <img :src="'/icon?path=' + encodeURIComponent(msg.data.emoji_img_url)" alt=""
                                     height="30">
                            </div>
                        </div>
                        <div v-else-if="msg.cmd == 'LIVE_OPEN_PLATFORM_LIKE'" class="dm-like">
                            <img width="15" src="./img/like.png" alt="" style="margin-right: 5px">赞 x {{
                            msg.data.like_count}}
                        </div>
                        <div v-else-if="msg.cmd == 'LIVE_OPEN_PLATFORM_SEND_GIFT'" class="dm-gift">
                            <img width="15"
                                 :src="'/icon?path=' + encodeURIComponent(msg.data.gift_icon)"
                                 alt="" style="margin-right: 5px">{{ msg.data.gift_name }} x {{ msg.data.gift_num }}
                        </div>
                        <div v-else-if="msg.cmd == 'LIVE_OPEN_PLATFORM_SUPER_CHAT'" class="dm-super-chat">
                            <van-tag type="danger">¥{{msg.data.rmb}}</van-tag>
                            <div style="font-weight: 700;margin-left: 5px">{{msg.data.message}}</div>
                        </div>
                    </div>

                </div>
                <div style="margin-top: 15px" ref="msgContainerRef"></div>
            </div>
            <div class="dm-reconnect" @click="handleConnDM">重连弹幕
                <van-icon name="replay"/>
            </div>
        </div>
    </div>

    <van-popup v-model:show="showGuard" :close-on-click-overlay="false">
        <div style="text-align: center;background-color:transparent;">
            <img v-if="guardInfo.guard_level === 1" src="./img/ic-caption.png" alt="">
            <img v-else-if="guardInfo.guard_level === 2" src="./img/ic-prefect.png" alt="">
            <img v-else-if="guardInfo.guard_level === 3" src="./img/ic-governor.png" alt="">
            <div style="display: flex; align-items: center;justify-content: center;margin-top: 15px">
                <img
                        style="border-radius: 50%;"
                        width="30" height="30"
                        :src="'/icon?path=' + encodeURIComponent(guardInfo.uface)"
                        alt="">
                <h2 style="color: #1989fa;margin-left: 5px">{{guardInfo.uname}}</h2>
            </div>
            <div v-if="guardInfo.guard_level === 3"
                 style="margin-top: 15px;text-align: center;color: red;font-weight: 800;font-size: 25px">——开通舰长——
            </div>
            <div v-else-if="guardInfo.guard_level === 2"
                 style="margin-top: 15px;text-align: center;color: red;font-weight: 800;font-size: 25px">——开通提督——
            </div>
            <div v-else-if="guardInfo.guard_level === 1"
                 style="margin-top: 15px;text-align: center;color: red;font-weight: 800;font-size: 25px">——开通总督——
            </div>
        </div>
    </van-popup>

</div>
<script>
    const noSleep = new NoSleep();
    const {ref, reactive, onMounted, computed, nextTick} = Vue;


    const App = {
        setup() {
            let socket = null;
            const showGuard = ref(false);
            const messages = reactive([]);
            const guardInfo = reactive({
                "uname": "",
                "uface": "",
                "guard_level": 3,
            })

            const suppressScroll = ref(false);

            const alwaysLight = ref(false);
            const loadingCapture = ref(false);
            const loadingSwitchMic = ref(false);
            const loadingSwitchRecord = ref(false);
            const loadingSwitchStream = ref(false);
            const alwaysLightRef = ref(null);
            const msgContainerRef = ref(null);
            const now = ref("00:00:00");
            const streamDuration = ref("00:00:00");

            // 计时器
            let tick = null;
            const state = reactive({
                micSwitch: true,
                recordSwitch: true,
                streamSwitch: true,
                streamAt: 0
            });

            onMounted(() => {
                syncState();
                handleConnDM(true);
                // 当前时间计时器
                if (tick) {
                    clearInterval(tick);
                } else {
                    tick = setInterval(() => {
                        // 当前时间
                        const date = new Date();
                        let hours = date.getHours() < 10 ? `0${date.getHours()}` : date.getHours();
                        let minutes = date.getMinutes() < 10 ? `0${date.getMinutes()}` : date.getMinutes();
                        let seconds = date.getSeconds() < 10 ? `0${date.getSeconds()}` : date.getSeconds();
                        now.value = `${hours}:${minutes}:${seconds}`;

                        // 直播时长
                        if (state.streamAt <= 0) {
                            return "00:00:00"
                        } else {
                            const duration = date.getTime() - state.streamAt;
                            const dHours = Math.floor(duration / 1000 / 60 / 60);
                            const dMinutes = Math.floor(duration / 1000 / 60 % 60);
                            const dSeconds = Math.floor(duration / 1000 % 60);
                            const h = dHours < 10 ? `0${dHours}` : dHours;
                            const m = dMinutes < 10 ? `0${dMinutes}` : dMinutes;
                            const s = dSeconds < 10 ? `0${dSeconds}` : dSeconds;
                            streamDuration.value = `${h}:${m}:${s}`;
                        }
                    }, 1000);
                }

                // 屏幕常亮触发器
                alwaysLightRef.value.addEventListener('click', () => {
                    window.navigator.vibrate && window.navigator.vibrate([100, 100, 100]);
                    noSleep.enable();
                    alwaysLight.value = true;
                    vant.showToast({message: '屏幕常亮已开启', duration: 500});
                    document.documentElement.requestFullscreen();
                }, false);
            });

            const handleConnDM = (hideHit) => {
                if (socket != null) {
                    socket.close();
                }

                let new_uri = "";
                if (window.location.protocol === "https:") {
                    new_uri = "wss:";
                } else {
                    new_uri = "ws:";
                }
                new_uri += "//" + window.location.host + "/dm";
                socket = new WebSocket(new_uri);

                socket.addEventListener("message", handleDM);
                if (hideHit !== true) {
                    vant.showToast('弹幕已连接');
                }
            }

            // 收到弹幕
            const handleDM = (event) => {
                let msg = JSON.parse(event.data);
                // console.log("Message from server:", event.data);
                // console.log(msg);
                messages.push(msg);
                // 若msg.length > 10 则移除第一个元素
                while (messages.length > 10) {
                    messages.shift()
                }
                if (msg.cmd === 'LIVE_OPEN_PLATFORM_GUARD') {
                    guardInfo.uname = msg.data.user_info.uname;
                    guardInfo.uface = msg.data.user_info.uface;
                    guardInfo.guard_level = msg.data.guard_level;
                    showGuard.value = true;
                    setTimeout(() => {
                        showGuard.value = false;
                    }, 5000);
                }
                nextTick(() => {
                    const el = msgContainerRef.value;
                    if (el && suppressScroll.value === false) {
                        el.scrollIntoView({behavior: 'smooth', block: "end"});
                    }
                });
            }


            const syncState = () => {
                axios.get('/switch-state').then(({data}) => {
                    state.micSwitch = data.micSwitch;
                    state.recordSwitch = data.recordSwitch;
                    state.streamSwitch = data.streamSwitch;
                    state.streamAt = data.streamAt;
                });
            }

            //
            // 切换直播状态
            //
            const streamPressCountdown = ref(0);
            let streamPressTimer = null;
            let streamHit = "开启"
            const handleStreamTouchStart = () => {

                if (loadingSwitchStream.value) {
                    return
                }
                if (state.streamSwitch) {
                    streamHit = "关闭"
                } else {
                    streamHit = "开启"
                }
                streamPressCountdown.value = 3;
                if (streamPressTimer) {
                    clearInterval(streamPressTimer);
                }
                vant.showToast({message: `直播将在 ${streamPressCountdown.value} 秒后${streamHit}`, duration: 500});
                streamPressTimer = setInterval(() => {
                    window.navigator.vibrate && window.navigator.vibrate([30]);
                    streamPressCountdown.value--;
                    if (streamPressCountdown.value <= 0) {
                        clearInterval(streamPressTimer);
                        doSwitchStream();
                    } else {
                        vant.showToast({
                            message: `直播将在 ${streamPressCountdown.value} 秒后${streamHit}`,
                            duration: 500
                        });
                    }
                }, 1000);
            }
            const handleStreamTouchEnd = () => {
                if (streamPressTimer) {
                    clearInterval(streamPressTimer);
                }
                streamPressCountdown.value = -1;
            }
            const doSwitchStream = () => {
                loadingSwitchStream.value = true;
                axios.get('/stream-switch').then(({data}) => {
                    state.streamSwitch = data;
                    vant.showToast({message: `直播已${streamHit}！`, duration: 1500});
                    window.navigator.vibrate && window.navigator.vibrate(1000);
                    // 退出全屏
                    if (data === false) {
                        if (document.fullscreenElement) {
                            document.exitFullscreen();
                        }
                    } else {
                        document.documentElement.requestFullscreen();
                    }
                    syncState();

                }).catch((e) => {
                    console.log(`直播${streamHit}异常：`, e)
                }).finally(() => {
                    loadingSwitchStream.value = false;
                });
            }

            //
            // 切换录制状态
            //
            const recordPressCountdown = ref(0);
            let recordPressTimer = null;
            let recordHit = "开始"
            const handleRecordTouchStart = () => {
                if (loadingSwitchRecord.value) {
                    return
                }
                if (state.recordSwitch) {
                    recordHit = "停止"
                } else {
                    recordHit = "开始"
                }
                recordPressCountdown.value = 1;
                if (recordPressTimer) {
                    clearInterval(recordPressTimer);
                }
                vant.showToast({message: `录制将在 ${recordPressCountdown.value} 秒后${recordHit}`, duration: 500});
                recordPressTimer = setInterval(() => {
                    window.navigator.vibrate && window.navigator.vibrate([30]);
                    recordPressCountdown.value--;
                    if (recordPressCountdown.value <= 0) {
                        clearInterval(recordPressTimer);
                        doSwitchRecord();
                    } else {
                        vant.showToast({
                            message: `录制将在 ${recordPressCountdown.value} 秒后${recordHit}`,
                            duration: 500
                        });
                    }
                }, 1000);
            }
            const handleRecordTouchEnd = () => {
                if (recordPressTimer) {
                    clearInterval(recordPressTimer);
                }
                recordPressCountdown.value = -1;
            }
            const doSwitchRecord = () => {
                loadingSwitchRecord.value = true;
                axios.get('/record-switch').then(({data}) => {
                    state.recordSwitch = data;
                    vant.showToast({message: `录制已${recordHit}！`, duration: 1500});
                    window.navigator.vibrate([300, 50, 300]);
                    syncState();
                }).catch((e) => {
                    console.log(`录制${recordHit}异常：`, e)
                }).finally(() => {
                    loadingSwitchRecord.value = false;
                });
            }


            //
            // 截图
            //
            const handleCapture = () => {
                loadingCapture.value = true;
                axios.get('/capture-screen').then(({data}) => {
                    vant.showSuccessToast({message: '截图成功', duration: 500});
                    window.navigator.vibrate([30]);
                }).catch((e) => {
                    console.log("截图异常：", e)
                }).finally(() => {
                    loadingCapture.value = false;
                });
            }

            //
            // 麦克风
            //
            const handleSwitchMic = () => {
                loadingSwitchMic.value = true;
                axios.get('/mic-switch').then(({data}) => {
                    if (data) {
                        vant.showToast({message: '麦克风 已打开', duration: 500});
                        window.navigator.vibrate && window.navigator.vibrate([100, 100, 100]);
                    } else {
                        vant.showToast({message: '麦克风 已关闭', duration: 500});
                        window.navigator.vibrate && window.navigator.vibrate([600]);
                    }
                    syncState();
                }).catch((e) => {
                    console.log("麦克切换异常：", e)
                }).finally(() => {
                    loadingSwitchMic.value = false;
                });
            }

            const handleDmScrollStart = () => {
                suppressScroll.value = true;
            }
            const handleDmScrollEnd = () => {
                suppressScroll.value = false;
            }

            const handlePushWindowMenu = () => {
                axios.get('/win')
            }

            const handleTabSwitch = () => {
                axios.get('/tab-switch')
            }

            return {
                state,
                loadingCapture, loadingSwitchMic, loadingSwitchRecord, loadingSwitchStream,
                handleStreamTouchStart, handleStreamTouchEnd,
                handleRecordTouchStart, handleRecordTouchEnd,
                handleCapture,
                handleSwitchMic,
                handlePushWindowMenu, handleTabSwitch,
                alwaysLightRef, alwaysLight,
                now, streamDuration,
                messages, msgContainerRef,
                handleDmScrollStart, handleDmScrollEnd, showGuard, guardInfo, handleConnDM,
            }
        },
    };
    const app = Vue.createApp(App);
    app.use(vant);

    app.mount('#app');
</script>
</body>
</html>