<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cliven的直播助手</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Import Vue 3 -->
    <script src="./vue.global.js"></script>
    <link rel="stylesheet" href="./index.css"/>
    <script src="./vant.min.js"></script>

    <!--    <link-->
    <!--            rel="stylesheet"-->
    <!--            href="https://fastly.jsdelivr.net/npm/vant@4/lib/index.css"-->
    <!--    />-->
    <!--    <script src="https://fastly.jsdelivr.net/npm/vue@3"></script>-->
    <!--    <script src="https://fastly.jsdelivr.net/npm/vant@4/lib/vant.min.js"></script>-->
    <script src="./axios.min.js"></script>
    <script src="./NoSleep.min.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            height: 100vh;
            display: flex;
            /*!*登录框水平垂直居中*!*/
            justify-content: center;
            align-items: center;
            background-color: #f8f8f8;
            -webkit-font-smoothing: antialiased;
            /*overflow-y: hidden;*/
        }

        #app {
            width: 100%;
            margin: 30px;
        }

        .switch-button {
            width: 100%;
            height: 70px;
            font-size: 1.5rem;
        }

        .always-light {
            padding: 3rem;
            font-size: 1.8rem;
            border-radius: 3px;
            color: #70b6fc;
            border: 1px solid #70b6fc;
            outline: none;
            background-color: #FFFFFF;
        }

        .always-light:hover {
            background-color: #70b6fc;
            color: #FFFFFF;
        }

        .stream-duration {
            width: 100%;
            text-align: center;
            font-size: 1.6rem;
            border-radius: 3px;
            border: 1px solid #000;
            box-sizing: border-box;
            font-family: Monospaced;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 15px;
        }


        .dm-container {
            margin-top: 10px;
            background-color: #F0F2F5;
            height: 250px;
            padding: 5px 10px;
            overflow: scroll;
            border-radius: 3px;
        }


        .dm-comment {
            padding: 5px;
            position: relative;
            background: #CDD0D6;
            border-radius: 5px;
        }

        .dm-like {
            padding: 5px;
            position: relative;
            border-radius: 5px;
        }

        .dm-gift {
            padding: 5px;
            position: relative;
            border-radius: 5px;
        }

        .dm-super-chat {
            padding: 5px;
            position: relative;
            background: #a0cfff;
            border-radius: 5px;
            display: flex;
        }
    </style>
</head>
<body>
<div id="app">
    <div v-show="!alwaysLight" style="text-align: center">
        <input type="button" ref="alwaysLightRef" value="开启屏幕常亮" class="always-light">
    </div>
    <div v-show="alwaysLight">
        <div v-if="state.streamSwitch == false">
            <van-button
                    :loading="loadingSwitchStream"
                    loading-text="直播开启..."
                    type="primary" class="switch-button" icon="play"
                    @touchstart="handleStreamTouchStart"
                    @touchend="handleStreamTouchEnd">
                开始直播
            </van-button>
        </div>
        <div v-else>
            <div style="display: flex;justify-content: space-between;font-size: 25px;font-family: Monospaced;">
                <div>当前时间</div>
                <div>{{now}}</div>
            </div>
            <div style="margin-top: 5px">
                <van-button
                        :loading="loadingSwitchStream"
                        loading-text="直播关闭..."
                        type="danger" class="switch-button" icon="stop"
                        @touchstart="handleStreamTouchStart"
                        @touchend="handleStreamTouchEnd">
                    关闭直播
                </van-button>
            </div>
            <div style="margin-top: 15px">
                <van-button
                        :loading="loadingSwitchRecord"
                        loading-text="录制停止..."
                        v-show="!state.recordSwitch" icon="play" type="primary"
                        class="switch-button"
                        @touchstart="handleRecordTouchStart"
                        @touchend="handleStreamTouchEnd">
                    开始录制
                </van-button>
                <van-button
                        :loading="loadingSwitchRecord"
                        loading-text="录制开启..."
                        v-show="state.recordSwitch" icon="pause" type="warning"
                        class="switch-button"
                        @touchstart="handleRecordTouchStart"
                        @touchend="handleRecordTouchEnd">
                    停止录制
                </van-button>
            </div>
            <div style="margin-top: 15px">
                <van-button
                        :loading="loadingSwitchMic"
                        v-show="state.micSwitch" plain type="primary" class="switch-button"
                        @click="handleSwitchMic">
                    <template #icon>
                        <img style="width: 2rem" src="./mic.png" alt="">
                    </template>
                    麦克 ON
                </van-button>
                <van-button
                        :loading="loadingSwitchMic"
                        v-show="!state.micSwitch" plain type="default" class="switch-button" icon="cross"
                        @click="handleSwitchMic">
                    <template #icon>
                        <img style="width: 2rem" src="./mic-off.png" alt="">
                    </template>
                    麦克 OFF
                </van-button>
            </div>
            <div style="margin-top: 15px">
                <van-button
                        loading-text="截图..."
                        :loading="loadingCapture"
                        plain type="primary" class="switch-button" icon="photograph"
                        @click="handleCapture">
                    截图
                </van-button>
            </div>
            <div style="text-align: center">

                <div class="stream-duration">
                    <div style="font-size: 12px">开播时间</div>
                    <div>{{streamDuration}}</div>
                </div>
            </div>
            <div class="dm-container" @touchstart="handleDmScrollStart" @touchend="handleDmScrollEnd">
                <div style="display: flex;margin-top: 5px" v-for="msg in messages" :key="msg.data.msg_id">
                    <div><img
                            style="border-radius: 50%;"
                            width="30" height="30"
                            :src="'/icon?path=' + encodeURIComponent(msg.data.uface)"
                            alt=""></div>
                    <div style="margin-left: 5px" >
                        <div style="margin-bottom: 3px">{{ msg.data.uname }}</div>
                        <div v-if="msg.cmd == 'LIVE_OPEN_PLATFORM_DM'" class="dm-comment">{{ msg.data.msg }}</div>
                        <div v-else-if="msg.cmd == 'LIVE_OPEN_PLATFORM_LIKE'" class="dm-like">
                            <img width="15" src="like.png" alt="" style="margin-right: 5px">赞 x {{
                            msg.data.like_count}}
                        </div>
                        <div v-else-if="msg.cmd == 'LIVE_OPEN_PLATFORM_SEND_GIFT'" class="dm-gift">
                            <img width="15"
                                 :src="'/icon?path=' + encodeURIComponent(msg.data.gift_icon)"
                                 alt="" style="margin-right: 5px">{{ msg.data.gift_name }} x {{ msg.data.gift_num }}
                        </div>
                        <div v-else-if="msg.cmd == 'LIVE_OPEN_PLATFORM_SUPER_CHAT'" class="dm-super-chat">
                            <van-tag type="danger">¥{{msg.data.rmb}}</van-tag>
                            <div style="font-weight: 700;margin-left: 5px">{{msg.data.message}}</div>
                        </div>
                    </div>
                </div>
                <div ref="msgContainerRef"></div>
            </div>

        </div>
    </div>
    <!--    <van-notice-bar color="#1989fa" background="#ecf9ff">-->
    <!--        <template v-slot:left-icon>-->
    <!--            <img-->
    <!--                    style="border-radius: 50%;"-->
    <!--                    width="30" height="30"-->
    <!--                    :src="'/icon?path=' + encodeURIComponent(giftMessage.data.uface)"-->
    <!--                    alt="">-->
    <!--            <span style="display: inline-block;font-weight: 600;margin: 0 10px">{{giftMessage.data.uname}}:</span>-->
    <!--        </template>-->
    <!--        <div>{{}}</div>-->
    <!--    </van-notice-bar>-->
    <van-popup v-model:show="showGuard" position="top" :style="{ height: '30%' }" >
    </van-popup>

</div>
<script>
    const noSleep = new NoSleep();
    const {ref, reactive, onMounted, computed, nextTick} = Vue;


    const App = {
        setup() {
            let socket = null;
            const showGuard = ref(false);
            const messages = reactive([]);

            setInterval(() => {
                let msg = {
                    "data": {
                        "emoji_img_url": "",
                        "fans_medal_level": 0,
                        "fans_medal_name": "",
                        "fans_medal_wearing_status": false,
                        "guard_level": 0,
                        "msg": "123",
                        "timestamp": 1702549079,
                        "uid": 759939,
                        "uname": "Cliven_",
                        "uface": "https://i0.hdslb.com/bfs/face/faff710e724d6ed48d9ab7de1e0c45b9d232e7e8.jpg",
                        "dm_type": 0,
                        "msg_id": "dadbb4d3-bbd1-41de-819c-b6a46da80619",
                        "room_id": 22219
                    }, "cmd": "LIVE_OPEN_PLATFORM_DM"
                }
                msg.data.msg_id = new Date().getTime() + 1
                messages.push(msg)
                msg = {
                    "data": {
                        "uname": "哔哩哔哩直播",
                        "uid": 9617619,
                        "uface": "https://i0.hdslb.com/bfs/face/8f6a614a48a3813d90da7a11894ae56a59396fcd.jpg",
                        "timestamp": 1685946262,
                        "like_text": "为主播点赞了",
                        "like_count": 114,
                        "fans_medal_wearing_status": false,
                        "fans_medal_name": "",
                        "fans_medal_level": 0,
                        "msg_id": "57a7c676-ff00-4967-bb09-03e800ab0f4d",
                        "room_id": 1
                    },
                    "cmd": "LIVE_OPEN_PLATFORM_LIKE"
                }
                msg.data.msg_id = new Date().getTime() + 1
                messages.push(msg);
                // msg = {
                //     "cmd": "LIVE_OPEN_PLATFORM_SEND_GIFT",
                //     "data": {
                //         "room_id": 1,//直播间(演播厅模式则为演播厅直播间,非演播厅模式则为收礼直播间)
                //         "uname": "哔哩哔哩直播",
                //         "uid": 9617619,
                //         "uface": "https://i0.hdslb.com/bfs/face/8f6a614a48a3813d90da7a11894ae56a59396fcd.jpg",
                //         "gift_id": 0,//道具id(盲盒:爆出道具id)
                //         "gift_name": "爆出道具名",//道具名(盲盒:爆出道具名)
                //         "gift_num": 11,//赠送道具数量
                //         "price": 0,//礼物单价(1000 = 1元 = 10电池),盲盒:爆出道具的价值
                //         "paid": false,//是否是付费道具
                //         "fans_medal_level": 0,//实际收礼人的勋章信息
                //         "fans_medal_name": "粉丝勋章名", //粉丝勋章名
                //         "fans_medal_wearing_status": true,//该房间粉丝勋章佩戴情况
                //         "guard_level": 0,//room_id对应的大航海等级
                //         "timestamp": 0,//收礼时间秒级时间戳
                //         "msg_id": "",//消息唯一id
                //         "anchor_info": {
                //             "uid": 0,//收礼主播uid
                //             "uname": "",//收礼主播昵称
                //             "uface": "http://i0.hdslb.com/bfs/face/4add3acfc930fcd07d06ea5e10a3a377314141c2.jpg"//收礼主播头像
                //         },
                //         "gift_icon": "http://i1.hdslb.com/dksldksldksld.jpg", //道具icon  （新增）
                //         "combo_gift": true,//是否是combo道具
                //         "combo_info": { //ex：连击次数100，每个连击是批量送5个 既  5 * 100
                //             "combo_base_num": 5,//每次连击赠送的道具数量
                //             "combo_count": 100,//连击次数
                //             "combo_id": "xxxxxx",//连击id
                //             "combo_timeout": 3,//连击有效期秒
                //         }
                //     }
                // }
                // msg.data.msg_id = new Date().getTime() + 2
                // messages.push(msg);
                msg = {
                    "cmd":"LIVE_OPEN_PLATFORM_SUPER_CHAT",
                    "data":{
                        "room_id":1,//直播间id
                        "uname": "哔哩哔哩直播",
                        "uid": 9617619,
                        "uface": "https://i0.hdslb.com/bfs/face/8f6a614a48a3813d90da7a11894ae56a59396fcd.jpg",
                        "message_id":0,//留言id(风控场景下撤回留言需要)
                        "message":"你好",//留言内容
                        "msg_id":"",//消息唯一id
                        "rmb":10,//支付金额(元)
                        "timestamp":0,//赠送时间秒级
                        "start_time":0,//生效开始时间
                        "end_time":0,//生效结束时间
                        "guard_level": 2, //对应房间大航海登记    (新增)
                        "fans_medal_level": 26, //对应房间勋章信息  (新增)
                        "fans_medal_name": "aw4ifC", //对应房间勋章名字  (新增)
                        "fans_medal_wearing_status": true //该房间粉丝勋章佩戴情况   (新增)
                    }
                }
                msg.data.msg_id = new Date().getTime() + 2
                messages.push(msg);

                // 若msg.length > 10 则移除第一个元素
                while (messages.length > 10) {
                    messages.shift()
                }
                // console.log(msgContainerRef.value)
                nextTick(() => {
                    const el = msgContainerRef.value;
                    if (el && suppressScroll.value === false) {
                        el.scrollIntoView({behavior: 'smooth', block: "end"});
                    }
                });
                showGuard.value = !showGuard.value;
            }, 3000);

            const suppressScroll = ref(false);

            const alwaysLight = ref(true);
            const loadingCapture = ref(false);
            const loadingSwitchMic = ref(false);
            const loadingSwitchRecord = ref(false);
            const loadingSwitchStream = ref(false);
            const alwaysLightRef = ref(null);
            const msgContainerRef = ref(null);
            const now = ref("00:00:00");
            const streamDuration = ref("00:00:00");

            // 计时器
            let tick = null;
            const state = reactive({
                micSwitch: true,
                recordSwitch: true,
                streamSwitch: true,
                streamAt: 0
            });

            onMounted(() => {
                // syncState();

                let new_uri = "";
                if (window.location.protocol === "https:") {
                    new_uri = "wss:";
                } else {
                    new_uri = "ws:";
                }
                new_uri += "//" + window.location.host + "/dm";
                socket = new WebSocket(new_uri);

                socket.addEventListener("message", handleDM);

                // 当前时间计时器
                if (tick) {
                    clearInterval(tick);
                } else {
                    tick = setInterval(() => {
                        // 当前时间
                        const date = new Date();
                        let hours = date.getHours() < 10 ? `0${date.getHours()}` : date.getHours();
                        let minutes = date.getMinutes() < 10 ? `0${date.getMinutes()}` : date.getMinutes();
                        let seconds = date.getSeconds() < 10 ? `0${date.getSeconds()}` : date.getSeconds();
                        now.value = `${hours}:${minutes}:${seconds}`;

                        // 直播时长
                        if (state.streamAt <= 0) {
                            return "00:00:00"
                        } else {
                            const duration = date.getTime() - state.streamAt;
                            const dHours = Math.floor(duration / 1000 / 60 / 60);
                            const dMinutes = Math.floor(duration / 1000 / 60 % 60);
                            const dSeconds = Math.floor(duration / 1000 % 60);
                            const h = dHours < 10 ? `0${dHours}` : dHours;
                            const m = dMinutes < 10 ? `0${dMinutes}` : dMinutes;
                            const s = dSeconds < 10 ? `0${dSeconds}` : dSeconds;
                            streamDuration.value = `${h}:${m}:${s}`;
                        }
                    }, 1000);
                }

                // 屏幕常亮触发器
                alwaysLightRef.value.addEventListener('click', () => {
                    window.navigator.vibrate && window.navigator.vibrate([100, 100, 100]);
                    noSleep.enable();
                    alwaysLight.value = true;
                    vant.showToast({message: '屏幕常亮已开启', duration: 500});
                    document.documentElement.requestFullscreen();
                }, false);
            });

            // 收到弹幕
            const handleDM = (event) => {
                let obj = JSON.parse(event.data);
                console.log("Message from server:", event.data);
                console.log(obj);
            }


            const syncState = () => {
                axios.get('/switch-state').then(({data}) => {
                    state.micSwitch = data.micSwitch;
                    state.recordSwitch = data.recordSwitch;
                    state.streamSwitch = data.streamSwitch;
                    state.streamAt = data.streamAt;
                });
            }

            //
            // 切换直播状态
            //
            const streamPressCountdown = ref(0);
            let streamPressTimer = null;
            let streamHit = "开启"
            const handleStreamTouchStart = () => {

                if (loadingSwitchStream.value) {
                    return
                }
                if (state.streamSwitch) {
                    streamHit = "关闭"
                } else {
                    streamHit = "开启"
                }
                streamPressCountdown.value = 3;
                if (streamPressTimer) {
                    clearInterval(streamPressTimer);
                }
                vant.showToast({message: `直播将在 ${streamPressCountdown.value} 秒后${streamHit}`, duration: 500});
                streamPressTimer = setInterval(() => {
                    window.navigator.vibrate && window.navigator.vibrate([30]);
                    streamPressCountdown.value--;
                    if (streamPressCountdown.value <= 0) {
                        clearInterval(streamPressTimer);
                        doSwitchStream();
                    } else {
                        vant.showToast({
                            message: `直播将在 ${streamPressCountdown.value} 秒后${streamHit}`,
                            duration: 500
                        });
                    }
                }, 1000);
            }
            const handleStreamTouchEnd = () => {
                if (streamPressTimer) {
                    clearInterval(streamPressTimer);
                }
                streamPressCountdown.value = -1;
            }
            const doSwitchStream = () => {
                loadingSwitchStream.value = true;
                axios.get('/stream-switch').then(({data}) => {
                    state.streamSwitch = data;
                    vant.showToast({message: `直播已${streamHit}！`, duration: 1500});
                    window.navigator.vibrate && window.navigator.vibrate(1000);
                    // 退出全屏
                    if (data === false) {
                        if (document.fullscreenElement) {
                            document.exitFullscreen();
                        }
                    } else {
                        document.documentElement.requestFullscreen();
                    }
                    syncState();

                }).catch((e) => {
                    console.log(`直播${streamHit}异常：`, e)
                }).finally(() => {
                    loadingSwitchStream.value = false;
                });
            }

            //
            // 切换录制状态
            //
            const recordPressCountdown = ref(0);
            let recordPressTimer = null;
            let recordHit = "开始"
            const handleRecordTouchStart = () => {
                if (loadingSwitchRecord.value) {
                    return
                }
                if (state.recordSwitch) {
                    recordHit = "停止"
                } else {
                    recordHit = "开始"
                }
                recordPressCountdown.value = 1;
                if (recordPressTimer) {
                    clearInterval(recordPressTimer);
                }
                vant.showToast({message: `录制将在 ${recordPressCountdown.value} 秒后${recordHit}`, duration: 500});
                recordPressTimer = setInterval(() => {
                    window.navigator.vibrate && window.navigator.vibrate([30]);
                    recordPressCountdown.value--;
                    if (recordPressCountdown.value <= 0) {
                        clearInterval(recordPressTimer);
                        doSwitchRecord();
                    } else {
                        vant.showToast({
                            message: `录制将在 ${recordPressCountdown.value} 秒后${recordHit}`,
                            duration: 500
                        });
                    }
                }, 1000);
            }
            const handleRecordTouchEnd = () => {
                if (recordPressTimer) {
                    clearInterval(recordPressTimer);
                }
                recordPressCountdown.value = -1;
            }
            const doSwitchRecord = () => {
                loadingSwitchRecord.value = true;
                axios.get('/record-switch').then(({data}) => {
                    state.recordSwitch = data;
                    vant.showToast({message: `录制已${recordHit}！`, duration: 1500});
                    window.navigator.vibrate([300, 50, 300]);
                    syncState();
                }).catch((e) => {
                    console.log(`录制${recordHit}异常：`, e)
                }).finally(() => {
                    loadingSwitchRecord.value = false;
                });
            }


            //
            // 截图
            //
            const handleCapture = () => {
                loadingCapture.value = true;
                axios.get('/capture-screen').then(({data}) => {
                    vant.showSuccessToast({message: '截图成功', duration: 500});
                    window.navigator.vibrate([30]);
                }).catch((e) => {
                    console.log("截图异常：", e)
                }).finally(() => {
                    loadingCapture.value = false;
                });
            }

            //
            // 麦克风
            //
            const handleSwitchMic = () => {
                loadingSwitchMic.value = true;
                axios.get('/mic-switch').then(({data}) => {
                    if (data) {
                        vant.showToast({message: '麦克风 已打开', duration: 500});
                        window.navigator.vibrate && window.navigator.vibrate([100, 100, 100]);
                    } else {
                        vant.showToast({message: '麦克风 已关闭', duration: 500});
                        window.navigator.vibrate && window.navigator.vibrate([600]);
                    }
                    syncState();
                }).catch((e) => {
                    console.log("麦克切换异常：", e)
                }).finally(() => {
                    loadingSwitchMic.value = false;
                });
            }

            const handleDmScrollStart = () => {
                suppressScroll.value = true;
            }
            const handleDmScrollEnd = () => {
                suppressScroll.value = false;
            }


            return {
                state,
                loadingCapture, loadingSwitchMic, loadingSwitchRecord, loadingSwitchStream,
                handleStreamTouchStart, handleStreamTouchEnd,
                handleRecordTouchStart, handleRecordTouchEnd,
                handleCapture,
                handleSwitchMic,
                alwaysLightRef, alwaysLight,
                now, streamDuration,
                messages, msgContainerRef,
                handleDmScrollStart, handleDmScrollEnd,showGuard
            }
        },
    };
    const app = Vue.createApp(App);
    app.use(vant);

    app.mount('#app');
</script>
</body>
</html>